* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

/* Google Fonts 
font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif; */



/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./laptopguy.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

/* H1 Heading */
.hero-text h1 {
    color: black;
    background: linear-gradient(to right, #E5E5E5, #FCA311);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Abril Fatface', cursive;
}

/* Two sentence section */
.hero-text p{
text-transform: uppercase;
letter-spacing: 1px;
font-family: 'Lato', sans-serif;
padding:5px;
}

.hero-text p>span {
    color: #E63946;
}

#month{
color:#A8DADC;
}

/* Button section */ 
.hero-text button {
    border-radius: 50px;
    background-color: #FCA311;
    border: 1px solid;
    padding: 5px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Lato', sans-serif; 
}

.hero-text button:hover {
    opacity: 0.5;
}

/* Start of Navbar */



/* The background for navbar */
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 60px;
}

/* The text inside the navbar */
.navbar a{
    text-decoration: none;
    color: black;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}

/* The little disclosure tuition page */
.sinfo{
padding: 20px;
background-color: #E5E5E5;
}

.sinfo h3{
    font-family:'Lato', sans-serif;
    padding-left: 10px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 35px;
}

.sinfo p{
    letter-spacing: 1px;
    line-height: 1.4;
    font-family:'Lato', sans-serif;
}

/* The Inspiration page */
.apply{
    padding:20px;
}

/* The header */
.apply h1{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

hr{
    color: #E5E5E5;
}

.apply p{
padding-top: 10px;
font-family: 'Lato', sans-serif;
letter-spacing: 1px;
line-height: 1.4;
padding-bottom: 10px;
}
/* The Apply now Button */
.apply button{
    border: 1px black solid;
    padding:20px;
    font-family: 'Lato', sans-serif;
    background-color: #FCA311;
}

.apply img{
    width:100%;
    padding-top: 20px;
}

